# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# claude

.claude/

# macos

*.DS_Store

# fabric

run/
run_2/
run_server/
runs/
log/
logs/

# java

hs_err_*.log
replay_*.log
javac.*.args
*.hprof
*.jfr

# local source archives
/src*.zip

# local temporary compile/test material
/temp/
